<h1>Edit Account</h1>
<%@user = Profile.find(@current_profile.id).user %>
<%@bday = @current_profile.bday.strftime("%Y-%m-%d")%>
<form method="POST" action="/edit-account-process" enctype="multipart/form-data">  
<div class="form">
<div class="label">
<input type="text" name="fname" autofocus placeholder="<%="#{@user.fname}"%>"> <label for="fname">First Name</label>   
</div>
<div class="label">
<input type="text" name="lname" placeholder="<%="#{@user.lname}"%>"> <label for="lname">Last Name</label>  
</div>
</div>
 
<div class="form">
<div class="label">
<input type="email" name="email" placeholder="<%="#{@user.email}"%>"> <label for="email">E-mail</label>
</div>

<div class="label">
<input type="text" name="hometown" placeholder="<%="#{@current_profile.hometown}"%>"> <label for="hometown">Hometown</label>  
</div>
</div>

<div class="form">
<div class="label">
<input type="text" name="bday" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" placeholder="<%="#{@bday}"%>">  <label for="bday">Birthday: Ex. yyyy-mm-dd</label>
</div>
</div>  

<div class="form">
<div class="label">
<input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"> <label for="password">Password</label> 
</div>
</div>
<div class="form">
<div class="label">
<input type="file" name="file" accept="image/*"> <label for="file">Profile Picture</label>
</div>
</div>
<input type="submit"></form>