<h2>My Profile</h2>

<form method="get" action="/post">
<input type="text" class="post" name="post" pattern="(?:([\W\w])){1,150}" placeholder="What you got to say???">   
<input type="submit" value="speak!"></form>
</br>

<%@user = Profile.find(@current_profile.id).user %>
<%="<img class=\"profile_pics\" src=\"#{@current_profile.avatar.url}\" alt=\"#{@current_profile.username.capitalize}\'s Profile Picture\" width=\"100\" height=\"100\">"%>
<%=@user.fname.capitalize %>&nbsp;
<%=@user.lname.capitalize %>
</br>
<%= @user.email.capitalize %>
</br>
<%= @current_profile.bday.strftime("%b %d, %Y") %>
</br>
<%= @current_profile.hometown.titleize%>
</br>
Member Since: <%= @user.created_at.strftime("%b %d, %Y") %>
</br>
<a href="/gallery">Photo Gallery</a>

<h4>Posts</h4>
<% if Post.where(:user_wall_id => @current_profile.user_id).first%>
<%posts = Post.where(:user_wall_id => @current_profile.user_id).reverse_order%>
<% posts.each do |post| %>
<h6><%=User.find(post.user_id).profile.username%>:</h6>
&nbsp;&nbsp;&nbsp;&nbsp;<%=post.string_data%>
<%user = User.find(post.user_id).profile%>
</br>
<% if Comment.where(:post_id => post.id).first%>
<div id="comment">
<h5>Comments</h5>

<%comments = Comment.where(:post_id => post.id).limit(100).reverse_order%>
<%comments.each do |comment| %>
<%user_comment = User.find(comment.user_id).profile%>
&nbsp;&nbsp;<%="<h6>#{user_comment.username}:</h6></br>&nbsp;&nbsp;&nbsp;&nbsp;#{comment.data}"%>
</br>
<%end%>
</div>
<%end%>
<a href="/delete_post?pid=<%=post.id%>">delete</a>&nbsp;<%if post.user_id == @current_profile.user_id%><a id="post<%=post.id%>" href="javascript:void(0);" onclick="startPostBox(this.id); return false;">edit</a>&nbsp;<%end%><a  id="comment<%=post.id%>" href="javascript:void(0);" onclick="startCommentBox(this.id); return false;">comment</a><div id="lightcomment<%=post.id%>" class="white_content_comment"><a class="close" href="javascript:void(0);" onclick="document.getElementById('lightcomment<%=post.id%>').style.display='none';document.getElementById('fade').style.display='none'">x</a>
	<form method="get" action="/leave_comment">
<input type="text" class="post" name="comment" pattern="(?:([\W\w])){1,150}" placeholder="Your two cents???" autofocus>
<input type="hidden" name="pid" value="<%=post.id%>">  
<input type="submit" value="done?"></form>
	</div><div id="lightpost<%=post.id%>" class="white_content_post"><a class="close" href="javascript:void(0);" onclick="document.getElementById('lightpost<%=post.id%>').style.display='none';document.getElementById('fade').style.display='none';">x</a>
	<form method="get" action="/edit_post">
		<input type="text" class="post" name="post" pattern="(?:([\W\w])){1,150}" value="<%=post.string_data%>">
		<input type="hidden" name="pid" value="<%=post.id%>">
		<input type="submit" value="done?"></form>
	</div>
        <div id="fade" class="black_overlay"></div>
</br>
<% end %>
<% end %>
</br>