<h2>My Profile</h2>

<form method="get" action="/post">
<input type="text" class="post" name="post" pattern="(?:([\W\w])){1,150}" placeholder="What's on your mind???" autofocus>   
<input type="submit"></form>
</br>

<%@user = Profile.find(@current_profile.id).user %>
<%="<img class=\"profile_pics\" src=\"#{@current_profile.avatar.url}\" alt=\"#{@current_profile.username}\'s Profile Picture\" width=\"100\" height=\"100\">"%>
Name: <%=@user.fname%>&nbsp;
<%= @user.lname%>
</br>
Birthday: <%=@current_profile.bday.strftime("%b %d, %Y")%>
</br>
Hometown: <%= @current_profile.hometown %>
</br>
Member Since: <%=@user.created_at%>
</br>
<h4>Posts</h4>
<% if Post.where(:user_id => @current_profile.user_id).first%> 
<%posts = Post.where(:user_id => @current_profile.user_id).reverse_order%>
<% posts.each do |post| %>
</br>
<%=post.string_data%>
</br>
<% end %>
<% end %>
</br>