<!DOCTYPE html>
<html>
<head>
   <title>Family Ties</title>
   <link rel="shortcut icon" href="favicon.ico"/>
   <link href="Styles/stylesheet.css" rel="stylesheet" type="text/css" />
	<script src=" Scripts/render.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light|Audiowide|Aclonica' rel='stylesheet' type='text/css'>
</head>
<body onload="setActive()">
<div id="container">
	<div id="header">
		<div id="head_wrap">
    <div id="head_menu" class="menu"><div id="logo"></div>
    	<!-- <img src="/images/cruteCrestPlainColorSmall.jpg" alt="Cruté Family Crest" height="100px"> -->
<ul>
<% my_menu = ["\"home\"", "\"login\"", "\"logout\"", "\"sign_up\"", "\"events\"", "\"profiles\"", "\"edit_account\"", "\"admin_screen\""] %>
<% my_descriptions = ["Home", "Login", "Logout", "Sign-up", "Events", "Profiles", "Edit Account", "Admin Dashboard"] %> 
<% count = 0 %> 
<% my_menu.each do |link| %>   

<% if @current_profile && link == "\"login\""%> 
<% elsif !@current_profile && link == "\"logout\""%>
<% elsif !@current_profile && link == "\"profiles\""%> 
<% elsif !@current_profile && link == "\"edit_account\""%> 
<% elsif @current_profile && link == "\"sign_up\""%> 
<% elsif !@current_profile && link == "\"admin_screen\""%>
<% elsif @current_profile && link == "\"admin_screen\""%>
	<%if !@current_profile.blank? && @current_profile.admin != true%>
		<%="<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
	<%end%>
<% else %> 
<%= "<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
<% end %>
<% count+=1 %>
<% end %>
</ul>
</div>
</div>
</div><!--end header-->
<div id="wrap">
<!-- 	<div id="seperator"></div> -->
<div id="feed" class="side_bar">

<h2 style="text-align:center;">Feed</h2>
<% if Post.first%>

<%posts = Post.all.reverse_order%>
<%count = 0%>
<% posts.each do |post| %>
<%if count <= 9%>
<%if post.user_id == post.user_wall_id%>
<%user = User.find(post.user_id).profile%>
<div class="feed">
<%="#{user.username}:</br>&nbsp;&nbsp; #{post.string_data}"%>
</div>
</br>
<%count = count + 1 %>
<% end %>
<% end %>
<% end %>

<% end %><h2 style="text-align:center;">Upcoming Events</h2>
<% if Event.all.first%> 
<%events = Event.all%>
<% events.each do |event|%>
	<% if check_event(event.date_time)%>
		<%="&nbsp;<a href='/event?ei=2#{event.id}''>#{event.title.titleize}: #{event.date_time.strftime('%a, %b %d')}</a>"%>
 	<% end %>
<% end %>
<% end %>

<h2 style="text-align:center;">Upcoming Birthdays</h2>
<% if Profile.where(approved: true).first%> 
<%profiles = Profile.where(approved:true)%>
<% profiles.each do |profile|%>
	<% if check_bday(profile.bday)%>
		<% user = User.find(profile.user_id)%>
	<%="&nbsp;<a href='/profile?un=#{profile.username}&ui=#{profile.user_id}'>#{profile.username}: #{profile.bday.strftime('%a, %b %d')}</a>"%>
 	<% end %>
<% end %>
<% end %>

<h2 style="text-align:center;">Following</h2>
<% if UserFollow.where(:user_id => @current_profile.user_id).first%> 
<%followers = UserFollow.where(:user_id => @current_profile.user_id)%>
<% followers.each do |following| %>
<% user = User.find(following.user_following_id).profile%>
<%=" &nbsp;<a href='/profile?un=#{user.username}&ui=#{user.user_id}'>#{user.username}</a>"%>

<% end %>
<% end %>
<h2 style="text-align:center;">Followers</h2>
<% if UserFollow.where(:user_following_id => @current_profile.user_id).first%> 
<%followers = UserFollow.where(:user_following_id => @current_profile.user_id)%>
<% followers.each do |following| %>
<% user = User.find(following.user_id).profile%>
<%="&nbsp;<a href='/profile?un=#{user.username}&ui=#{user.user_id}'>#{user.username}</a>"%>
 
<% end %>
<% end %>

</br>
</div><!--End feed-->
<div id="inside_content">
<%=flash[:notice] if flash[:notice] %>
<%= yield %>
</div><!--End inside_content-->

</div><!--End wrap-->
</div><!--End container-->

</body>
</html>