<!DOCTYPE html>
<html>
<head>
   <title>Family Ties</title>
   <link rel="shortcut icon" href="favicon.ico"/>
   <link href="Styles/stylesheet.css" rel="stylesheet" type="text/css" />
	<script src=" Scripts/render.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light|Audiowide|Aclonica' rel='stylesheet' type='text/css'>
</head>
<body onload="setActive()">
<div id="container">
	<div id="header">
		<div id="head_wrap">
    <div id="head_menu" class="menu"><div id="logo"></div>
    	<!-- <img src="/images/cruteCrestPlainColorSmall.jpg" alt="Cruté Family Crest" height="100px"> -->
<ul>
<% my_menu = ["\"home\"", "\"login\"", "\"logout\"", "\"sign_up\"", "\"events\"", "\"profiles\"", "\"edit_account\"", "\"admin_screen\""] %>
<% my_descriptions = ["Home", "Login", "Logout", "Sign-up", "Events", "Profiles", "Edit Account", "Admin Dashboard"] %> 
<% count = 0 %> 
<% my_menu.each do |link| %>   

<% if @current_profile && link == "\"login\""%> 
<% elsif !@current_profile && link == "\"logout\""%>
<% elsif !@current_profile && link == "\"profiles\""%> 
<% elsif !@current_profile && link == "\"edit_account\""%> 
<% elsif @current_profile && link == "\"sign_up\""%> 
<% elsif !@current_profile && link == "\"admin_screen\""%>
	<%if @current_profile.blank? %>
	<%else%>
		<%if !@current_profile.admin == true%>
			<%="<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
		<%end%>
	<%end%>
<% else %> 
<%= "<b><li><a href=#{link} id=#{link} class=\"\">#{my_descriptions[count]}</a></li></b>"%>
<% end %>
<% count+=1 %>
<% end %>
</ul>
</div>
</div>
</div><!--end header-->
<div id="wrap">
<!-- 	<div id="seperator"></div> -->
<div id="feed" class="side_bar">

<% if !@current_profile%>
<h2 style="text-align:center;">Welcome Family</h2>
<p>As we all know family is important. But it can can be hard to keep in touch with one another. Social media was suppose to make that easier but alas, it gets hard and confusing. So to make things simpler, I have created a web app just for us. Enjoy and I look forward to keeping in touch with all of you!</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Darien Cruté</p>
<% else%> <h2 style="text-align:center;">Feed</h2>
<% if Post.first%>
<%@post = Post.first%>
<%@user = User.find(@post.user_id).profile%>
<%="#{@user.username}: #{@post.string_data}"%>
<%posts = Post.limit(10).reverse_order%>
<% posts.each do |post| %>
<%user = User.find(post.user_id).profile%>
<%="#{user.username}: #{post.string_data}"%>
</br>
<% end %>
<% end %>
<h2 style="text-align:center;">Following</h2>
<% if UserFollow.where(:user_id => @current_profile.user_id).first%> 
<%followers = UserFollow.where(:user_id => @current_profile.user_id)%>
<% followers.each do |following| %>
<% user = User.find(following.user_following_id).profile%>
<%=" &nbsp;<a href='/profile?un=#{user.username}&ui=#{user.user_id}'>#{user.username}</a>"%>

<% end %>
<% end %>
<h2 style="text-align:center;">Followers</h2>
<% if UserFollow.where(:user_following_id => @current_profile.user_id).first%> 
<%followers = UserFollow.where(:user_following_id => @current_profile.user_id)%>
<% followers.each do |following| %>
<% user = User.find(following.user_id).profile%>
<%="&nbsp;<a href='/profile?un=#{user.username}&ui=#{user.user_id}'>#{user.username}</a>"%>
 
<% end %>
<% end %>
<% end %>
</br>
</div><!--End feed-->
<div id="inside_content">
<%=flash[:notice] if flash[:notice] %>
<%= yield %>
</div><!--End inside_content-->

</div><!--End wrap-->
</div><!--End container-->

</body>
</html>