<h2><%=@user_profile.username.capitalize %>'s Profile</h2>
<% if UserFollow.find_by_user_id_and_user_following_id @current_profile.user_id, @user_profile.user_id%> 
<%="<button type=\"button\" onclick=\"location.href='/unfollow?un=#{params[:un]}&ui=#{params[:ui]}'\">unfollow</button></br></br>"%>
<% else%> 
<%= "<button type=\"button\" onclick=\"location.href='/follow?un=#{params[:un]}&ui=#{params[:ui]}'\">follow</button></br></br>"%>
<% end%> 
<%="<form method=\"get\" action=\"/post_profile?un=#{params[:un]}&ui=#{params[:ui]}\">"%> 
<input type="text" class="post" name="post" pattern="(?:([\W\w])){1,150}" placeholder="What you got to say???" autofocus> 
<%="<input type=\"hidden\" name=\"un\" value=\"#{params[:un]}\">"%> 
<%="<input type=\"hidden\" name=\"ui\" value=\"#{params[:ui]}\">"%> 
<input type="submit" value="speak!"></form>
</br></br>
<%="<img class=\"profile_pics\" src=\"#{@user_profile.avatar.url}\" alt=\"#{@user_profile.username.capitalize}\'s Profile Picture\" width=\"100\" height=\"100\">"%>
<%=@user.fname.capitalize %>&nbsp;<%=@user.lname.capitalize %><b>:</b>
&nbsp;
<%=@user.email.capitalize %>
</br>
<%= @user_profile.bday.strftime("%b %d, %Y") %>
</br>
<%= @user_profile.hometown.titleize %></br>
<a href="/<%="profile-gallery?un=#{@user_profile.username}&ui=#{@user_profile.user_id}"%>">Photo Gallery</a>
</br>
<h4>Posts</h4>
<% if Post.where(:user_id => @user_profile.user_id).first%> 
<%posts = Post.where(:user_id => @user_profile.user_id).limit(100).reverse_order%>
<% posts.each do |post| %>
<%=post.string_data%>
<%user = User.find(post.user_id).profile%>
</br>
<% if Comment.where(:post_id => post.id).first%>
<div id="comment">
<h6>Comments</h6>
<%comments = Comment.where(:post_id => post.id).limit(100).reverse_order%>
<%comments.each do |comment| %>
&nbsp;&nbsp;<%="#{user.username}: #{comment.data}"%>
</br>
<%end%>
</div>
<%end%>
<a href="javascript:void(0);" onclick="startCommentBox(); return false;">comment</a><div id="light2" class="white_content_comment"><a class="close" href="javascript:void(0)" onclick="document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'">x</a>
	<form method="get" action="/leave_comment_profile">
<input type="text" class="post" name="comment" pattern="(?:([\W\w])){1,150}" placeholder="Your two cents???" autofocus>
<input type="hidden" name="pid" value="<%=post.id%>">
<input type="hidden" name="un" value="<%=user.username%>">
<input type="hidden" name="id" value="<%=user.user_id%>">  
<input type="submit" value="done?"></form>
	</div><div id="light" class="white_content_post"><a class="close" href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">x</a>
	<div id="fade" class="black_overlay"></div>
<% end %>
<% end %>
</br>
